<div class="row">
  <div class="col-md-6 col-md-offset-2" id="project-form" style="display:none;"></div>
</div>

<div class="row">
  <div class="col-md-7 col-md-offset-1" id="projects">

    <%= render "projects/project" %></div>
</div>

<div class="col-md-2 col-md-offset-4">
  <%= link_to new_project_path, remote: true do %>
      <button class="btn btn-primary">Add TODO List</button>
  <% end %>
</div>